

body{
background-color: #f16059;
}
 
h1{    
text-align: center;
color: black;
font-family: 'Bungee', cursive;
padding: 90px
}


h2{
color:black;
font-size: 40px;
font-family: 'Bungee', cursive;
padding: 70px;
text-align: center;
}

h3{
text-align: center;
color: black;
font-family: 'Bungee', cursive;

}

div{
text-align: center;
}

img{
align-items: center;
height: 200px;
width: 200px;
border: black;
border-color: black;
border-width: 100px;
}

div{
text-align: center;
position: center;

}
footer{
 
        color:  black;
        text-align: center;
        font-family: 'Bungee', cursive;
        padding: 10px;
      }

